@import "~bulma/sass/utilities/initial-variables";
@import "~bulma/sass/utilities/functions";

// $green: #00B140;
$green: #03BC25;
$green-invert: findColorInvert($green);

$blue: #3689e1;
$blue-invert: findColorInvert($blue);
$orange: #ea9e00;
$orange-invert: findColorInvert($orange);

// $text: $white-ter;
$text: $grey-darker;

$primary: $green;
$link: $primary;
$link-invert: $green-invert;
$link-hover: inherit;
$link-focus: $white;
$link-active: $white;
$dark: $black-bis;
$light: $white-ter;


$warning: $orange;
$warning-invert: $orange-invert;

$family-sans-serif: 'Montserrat', sans-serif;
$family-title: 'Montserrat', 'Frank Ruhl Libre', serif;
$family-subtitle: 'Space Mono', sans-serif;

$title-weight: 500;
$subtitle-weight: $weight-normal;

$title-color: $text;
$subtitle-color: $primary;

$content-heading-color: $text;
$content-heading-weight: 500;

$radius: 0;
$small-radius: 0;


// Derived variables

@import "~bulma/sass/utilities/derived-variables";

$body-background-color: $dark;

$navbar-height: 8.5rem;
$navbar-height-touch: 4.5rem;
$navbar-item-img-max-height: 6.25rem;
$navbar-padding-vertical: 0;
$navbar-padding-horizontal: 0;
//$tabs-link-padding: 0;

// $navbar-item-hover-color: transparent;
// $navbar-item-active-color: transparent;
$navbar-item-hover-background-color: $primary;
$navbar-item-active-background-color: $text;

$tabs-link-padding: 0;
$tabs-link-color: $light;
$tabs-boxed-link-hover-background-color: $primary;

$footer-background-color: $black;

.subtitle, .content .subtitle {
    font-family: $family-subtitle;
    // text-transform: uppercase;
    //letter-spacing: 1px;
    font-weight: 400;
    color: $primary;
}

// Workaround because for some reason it's complaining that
// this variable doesn't exist
$column-gap: 0.75rem;


// Custom CSS

@import "~bulma/sass/utilities/mixins";


p a:hover {
    text-decoration: underline;
}

.is-light {
    background: $light;
}
.is-white {
    background: $white;
}
.is-primary {
    background: $primary;
}
.is-success {
    background: $success;
}

.section.is-content {
    padding: 3rem 2rem;
}

.tag {
    font-weight: 500;
}


// CV STUFF

@mixin sidebar-rows($var) {
  @include tablet {
    grid-row: $var;
  }
  @include mobile {
    grid-row: (2*$var)-1;
  }
}
@mixin main-rows($var) {
  @include tablet {
    grid-row: $var;
  }
  @include mobile {
    grid-row: 2*$var;
  }
}

@for $i from 1 through 8 {
    .cv-sidebar.grid-row-#{$i} {
      @include sidebar-rows($i);
    }
    .cv-main.grid-row-#{$i} {
      @include main-rows($i);
    }
}

.cv-award {
  @include tablet {
    grid-template-columns: [sidebar] 9em [main] 1fr;
  }
  @include mobile {
  grid-column-gap: $column-gap;
  grid-template-columns: [sidebar] auto [main] 1fr;
  }
}

.cv-entry,
.cv-skill,
.cv-award {
  display: grid;
  @include tablet {
    grid-column-gap: $column-gap * 2;
    grid-template-rows: auto;
  }
  .location {
    @include mobile {
       display: none;
    }
  }
  .cv-sidebar {
    text-align: left;
    @include tablet {
      grid-column: sidebar;
      text-align: right;
    }
    &.entry-primary {
      @include mobile {
        grid-row: 2;
      }
    }
  }
  .cv-main {
    @include tablet {
      grid-column: main;
    }
    &.entry-primary {
      @include mobile {
        grid-row: 1;
      }
    }
  }
  .cv-task {
    display: block;
    position: relative;
    padding-left: calc(0.5rem + 1.25em);
    .mdi,
    .fa {
      position: absolute;
      left: 0.5rem;
    }
  }
}
.cv-entry,
.cv-skill {
  margin-bottom: 1rem;
  grid-column-gap: $column-gap;
  @include tablet {
    grid-template-columns: [sidebar] 9em [bar] auto [main] 1fr;
  }
  @include mobile {
    grid-template-columns: 1fr;
  }
  .cv-bar {
    @include tablet {
      width: 2px;
      height: 100%;
      grid-column: bar;
      grid-row: 1 / 5;
      background-color: $primary;
    }
  }
}
// Printable CV
.paper {
  background-color: #fff !important;
  color: #000 !important;
  font-size: 11px;
  h1 {
    font-size: 2em;
    font-family: $family-subtitle;
    color: $primary !important;
  }
  .cv-bar {
      border-left: 1px solid black;
      background: none;
  }
  .cv-header {
    display: grid;
    grid-template-columns: 9em auto auto;
    grid-template-areas: "logo name links";
    grid-column-gap: $column-gap * 2;
    margin-bottom: 2em;
    .logo {
      grid-area: logo;
      justify-self: right;
      height: 7em;
    }
    .name {
      grid-area: name;
      h1 {
        font-size: 4em;
        font-weight: 600;
        color: black !important;
        margin-bottom: 0;
        font-family: $family-title;
      }
      .subtitle {
        font-size: 1.25em;
      }
    }
  }
}

// LAYOUT: ALT
.hero {
  .typer-title {
    display: flex;
    @include fullhd {
      flex-direction: row;
    }
    flex-direction: column;

    > * {
      margin: 3rem $gap 0 $gap;
      line-height: 1em;
      @include fullhd {
        margin-right: 0;
      }
      @include tablet-only {
        margin-left: $gap / 2;
        margin-right: $gap / 2;
      }
      @include mobile {
        margin-left: $column-gap;
        margin-right: $column-gap;
      }
    }
    //align-items: flex-end;
    .name-title {
      text-transform: uppercase;
      font-size: 80px;
      display: inline-block;
      letter-spacing: 2px;
      color: $light;
      @include mobile {
        font-size: 13vw;
      }
    }
    #does-things.subtitle.vue-typer {
      display: flex;
      align-items: center;
      font-size: 50px;
      @include mobile {
        font-size: 6.5vw;
      }
      .custom.char {
        color: $primary;
      }
      .custom.caret {
        background-color: $primary;
        width: 0.5em;
        height: 0.8em;
        vertical-align: bottom;
        margin: 0.1em 0.05em;
      }
    }
  }

  .to-rest {
    font-size: 72px;
    cursor: pointer;
  }
  &.bg-img {
    background-image: url(/imgs/stars.jpg);
    background-position: center center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
  }
}

// COMPONENT : NAVBAR
.square-nav {
  .navbar-item {
    padding: 0;
    margin: 0 0.5rem;
    background-color: $primary;
    // http://tobiasahlin.com/blog/how-to-animate-box-shadow/
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.15);
    transition: all 0.6s cubic-bezier(0.165, 0.84, 0.44, 1);
    &::after {
      content: "";
      position: absolute;
      z-index: -1;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      box-shadow: 0 5px 15px rgba(0, 0, 0, 0.3);
      opacity: 0;
      transition: all 0.6s cubic-bezier(0.165, 0.84, 0.44, 1);
    }
    &:hover {
      transform: scale(1.15, 1.15);
    }

    &:hover::after {
        opacity: 1;
    }
    img {
      transition: all 0.3s ease-in-out;
      height: $navbar-item-img-max-height;
      @include touch {
        height: $navbar-height-touch;
      }
      // &:hover {transform: scale(1.1, 1.1);}
    }
  }
}
.navbar .container,
.navbar .container .navbar-brand {
  flex-direction: row-reverse;
  @include touch {flex-direction: row-reverse;}
}
.tabs.is-boxed {
  align-items: flex-start !important;
  padding: 0 1rem;

  a {
    border: none !important;
    &:hover {border: none !important;}
  }
}

// COMPONENT : MOCKUP
.mockup {
  margin: 2* $column-gap;
  svg {
    width: 100%;
    height: 100%;
  }
}

// PAGE : INDEX
$icon-block-size: 8rem;
$icon-block-size-touch: 6rem;


.section.is-block {
  padding-top: 6rem;
  padding-bottom: 6rem;
  @include mobile {
    padding-bottom: 3rem;
  }

  .section.is-unpadded {
    // Makes the space colored and only adds padding to keep from hitting the
    // icon on the top on mobile. Otherwise, padding is taken care of by the
    // children so it's possible to have content that goes to the edges
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.15);
    margin-left: $icon-block-size / 2;
    padding: 0;
    padding-top: 3rem;
    overflow: auto;
    @include tablet-only {
      margin-left: $icon-block-size-touch / 2;
    }
    @include mobile {
      margin-left: 0;
      padding-top: $icon-block-size-touch/2 + 1.5rem;
    }
  }

  .block-content {
    padding: 0 1.5rem;
    margin-bottom: $gap;
    @include desktop {
      padding-left: $icon-block-size / 2 + 2rem;
    }
    @include tablet-only {
      padding-left: $icon-block-size-touch / 2 + 1.5rem;
    }
    @include mobile {
      &:first-child {
        padding-top: 0 !important;
      }
    }
  }

  .icon-block {
    z-index: 3;
    position: absolute;
    width: $icon-block-size;
    height: $icon-block-size;
    top: 3rem;
    left: 0;
    background-color: $primary;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.15);
    @include touch {
      width: $icon-block-size-touch;
      height: $icon-block-size-touch;
    }
    @include mobile {
      top: -0.5 * $icon-block-size-touch;
      // left: calc(50% - #{$icon-block-size-touch}/2);
      left: 3rem;
    }
  }
  .title.is-1 {
    font-size: 4rem;
    @include tablet {font-size: 3rem;}
    @include mobile {font-size: 2rem;}
  }
  .section-subtitle.subtitle {
    @include mobile {font-size: 1.5rem;}
  }
}

// COMPONENT: FULL-PROJECT/FULLPROJECT
.project-section {
  padding: 0;
  display: flex;
  flex-direction: column;

  &:nth-child(even) {
    @include tablet {
      flex-direction: row-reverse;
    }
  }
  &:nth-child(odd) {
    background-color: $white;
    @include tablet {
      flex-direction: row;
    }
  }
  .section-image {
    width: 40%;
    position: relative;
    align-self: center;
    @include mobile {
      width: 100%;
    }
    &.is-padded {
      padding: 2* $column-gap;
    }
    // img {
    //   object-fit: cover;
    //   object-position: center center;
    //   display: block;
    //   position: absolute;
    //   top: 0px;
    //   left: 0px;
    //   width: 100%;
    //   height: 100%;
    // }
  }
  .section-content {
    width: 60%;
    padding: 3*$column-gap 2*$column-gap;
    @include mobile {
      width: 100%;
      padding: 2*$column-gap;
    }
    .title.results-title {
      //margin-top: 1.25rem;
      margin-bottom: 0.75rem;
    }
  }
}

// COMPONENT : GALLERY
.gallery {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  // @include touch {
  //   grid-template-columns: repeat(2, 1fr);
  // }
  grid-gap: -1px;
  img {
    width: 100%;
    padding-bottom: 75%;  // 4:3
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    @include touch {
      padding-bottom: 100%;
    }
  }
}

@import "~bulma/bulma";