@import "~bulma/sass/utilities/initial-variables";
@import "~bulma/sass/utilities/functions";

// $green: #00B140;
$green: #03BC25;
$green-invert: findColorInvert($green);

$blue: #2D7DD2;
$blue-invert: findColorInvert($blue);
$orange: #EA7100;
$orange-invert: findColorInvert($orange);

$link: $green;
$primary: $green;
$dark: $black-bis;
$light: $white-bis;

$warning: $orange;
$warning-invert: $orange-invert;

$family-sans-serif: 'Montserrat', sans-serif;
$family-title: 'Montserrat', 'Frank Ruhl Libre', serif;
$family-subtitle: 'Share Tech', sans-serif;


// Derived variables

@import "~bulma/sass/utilities/derived-variables";

$body-background-color: $dark;


// Custom CSS

@import "~bulma/sass/utilities/mixins";


.is-light {
    background: $light;
}
.is-primary {
    background: $primary;
}
.is-success {
    background: $success;
}


@import "~bulma/bulma";